*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    background: #000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
}
  
#image-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
  }
  
#image-popup img {
    max-width: 100%;
    max-height: 100%;
}
.game {
    position: relative;
    margin: 0 auto;
}

#stage {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: fixed;
    width: 1280px;
    height: 720px;
}

#level {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #678;
    z-index: 2;
}

#mesa {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(images/mesa.png);
    width: 80%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #470e05;
    z-index: 2;
}

.papel, .papelPin1, .papelPin2, .papelPin3, .papel2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.papelPin1, .papelPin2, .papelPin3 {
    display: none;
    position: absolute;
    left: 10%;
    top: 47%;
    width: 10%;
    height: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

#gaveta, #gaveta2, #gaveta3 {
    display: none;
    position: absolute;
    background-image: url(images/gaveta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21%;
    height: 40%;
    left: 0%;
    z-index: 1;
    transition: .5s ease-in-out;
    opacity: 0;
}

.piece1, .piece2, .piece3 {
    position: relative;
    width: 30%;
    height: 40%;
    left: 50%;
    top: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#maquina {
    position: absolute;
    background-image: url(./images/maquina.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 60%;
    left: 2%;
    top: 2%;
}

#painel {
    position: absolute;
    background-image: url(./images/painel.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 32%;
    height: 15%;
    left: 35%;
    top: 3%;
}

#painel .ico {
    position: absolute;
    width: 15%;
    height: 55%;
    background-color: transparent;
    top: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#painel .bt {
    position: absolute;
    top: 120%;
    width: 18%;
    height: 60%;
    border-radius: 50%;
    background-color: #444444;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
}

.btnMaquina {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 3%;
    top: 63%;
    cursor: pointer;
    background-color: transparent;
}

.dropZone {
    position: absolute;
    width: 15.5%;
    height: 14%;
    background-color: transparent;
    right: 0;
    top: 10%
}

#pin1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 5%;
    height: 9%;
    background-color: #1a1a1a;
    right: 25%;
    top: 40%;
}

#pin2, #pin3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 24%;
    height: 23%;
    background-color: #1a1a1a;
    right: 40%;
    top: 20%;
}

.dot {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(0, 0, 197);
}

#gaveta .isqueiro {
    position: absolute;
    left: 20%;
    bottom: 15%;
    background-image: url(./images/Isqueiro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 30%;
    z-index: 999;
}

#numPad {
    position: absolute;
    right: 10%;
    bottom: 20%;
    height: 35%;
    width: 7%;
    background-image: url(./images/pad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#numPad .pads span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555555;
    width: 55%;
    height: 17%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#numPad .lights span {
    position: absolute;
    width: 14%;
    height: 6%;
    border-radius: 50%;
    background-color: rgb(145, 145, 145);
    top: -10%;
}

.hole1, .hole2, .hole3 {
    position: absolute;
    width: 10%;
    height: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -9;
}

#gaveta .ico {
    position: absolute;
    z-index: -9;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 40%;
    background-image: url(./images/icons/NPrancheta1_3.png);
    filter: invert(0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.iconesMesa div {
    display: none;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 8%;
    height: 8%;
    z-index: -9;
}

.fios {
    position: absolute;
    background-image: url(./images/oreo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 35%;
    right: 2%;
    top: 2%;
}

.fios div {
    cursor: pointer;
    position: absolute;
    width: 55%;
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 23%;
}

.open { /* adicione essa classe para abrir a gaveta */
    animation: open1 1s;
    animation-fill-mode: forwards;
}

.open1 {
    cursor: default;
}

.shine {
    animation: shy 1.5s infinite;
}
@keyframes open1 {
    100% {
        left: -18%;
        opacity: 1;
        cursor: default;
    }
}

@keyframes shy {
    0% {
       filter: drop-shadow(0px 0px 0px rgba(0, 255, 112, 0.7));
    }

    50% {
        filter: drop-shadow(0px 0px 10px rgba(0, 255, 112, 0.7));
    }

    100% {
        filter: drop-shadow(0px 0px 0px rgba(0, 255, 112, 0.7));
    }
}

@media screen and (min-width: 1400px) {
    #stage {
        width: 1600px;
        height: 900px;
    }
}